apiVersion: v1
kind: Service
metadata:
  name: backend1-service
  namespace: dev
spec:
  selector:
    app: backend1
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 3000
---
apiVersion: v1
kind: Service
metadata:
  name: backend2-service
  namespace: dev
spec:
  selector:
    app: backend2
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 3001

---
apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: dev
spec:
  selector:
    app: frontend
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 80

---
apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: dev
spec:
  clusterIP: None
  selector:
    app: postgres
  ports:
    - name: postgres
      port: 5432
      targetPort: 5432
